<app-header (featureSelected)="onNavigate($event)"></app-header>

    <div class="container">
<div class="row">
    <div class="col-xl-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  <label><strong>Mobile Number :</strong></label><br>
  <input class="quantity" [disabled]="otpSendSuccessFully" type="number" placeholder="Mobile Number" ngModel #mobileNumber="ngModel" required>
  <span *ngIf="!mobileNumber.valid && mobileNumber.touched && !otpSendSuccessFully">*Mobile Number is required</span>
  <br><br>
  <button class="btn btn-info" type="button" (click)="sendOTP(mobileNumber.value)" *ngIf="!otpSendSuccessFully">Send OTP</button>
  <label *ngIf="otpSendSuccessFully"><strong>OTP :</strong></label><br>
  <input type="number" placeholder="OTP" *ngIf="otpSendSuccessFully" [(ngModel)] = "otp" required>
<span>{{Error}}</span>
  <button class="btn btn-primary" type="button" *ngIf="otpSendSuccessFully" [disabled]="otp==null" (click)="getPassword()">Login</button>
  
  <div>
      {{result | json}}
  </div>

</div>